.bg{
    background-image: url('https://alfiyansyahhh.skom.id/gambar/nathan-dumlao-c2Y16tC3yO8-unsplash.jpg');
    height: 110vh;
    background-size: cover;
}

.picture{
    border-radius: 100%;
    margin-top: -5px;
}
#file{
    background: none;
    border: none;
    padding: none;
    margin-top: 50px;
    box-sizing: border-box;
    border-radius: none;
    height: none;
    padding-left: none;
    padding-bottom: none;
    box-shadow: none;
}